password.txt
password/

# Dependencies
winget/libs/*
!winget/libs/.gitkeep

#Chrome Installer
winget/offline/googlechrome.msi

# Adobe reader install folder
winget/offline/AdobeReader/*
!winget/offline/AdobeReader/*.gitkeep