<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="adobereader" version="2025.1.20844" packageParameters="/DesktopIcon"/>
	<package id="firefox" version="145.0.2" packageParameters="/RemoveDistributionDir"/>
	<package id="jre8" version="8.0.471"/>
	<package id="7zip.install" version="25.1.0"/>
	<package id="googlechrome" version="143.0.7499.41"/>
</packages>